* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-footer {
  background-color: black;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.row {
  padding: 20px;
}
.row h4 {
  text-align: center;
  color: white;
}
.row li {
  text-align: center;
  color: grey;
}
.row a {
  text-align: center;
  color: grey;
}
.icons {
  padding: 10px;
}
