.landImage {
    background-image: url("./images/landImage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
   }
   .homePageLink {
   }
   @media screen and (max-width: 800px) {
    .landImage {
     left: 50%;
     margin-left: -512px;
    }
   }
