.weather {
  background-image: url("./images/weather.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
}
.info {
  color: #fff;
  padding: 50px 0 0 20px;
  width: 55%;
  /* position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: block; */
}

.weather-flexbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70vh;
}
/* * {
  background-image: url("https://images.unsplash.com/photo-1573588028698-f4759befb09a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
